@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-display: swap;

}

@font-face {
    font-family: Woff;
    src:url('../fonts/slick.woff') ;
    font-display: swap;

}