
$color_white: white;
$color_grey: var(--Secondary-text, #525560);
$color_cred: var(--foundation-primary-red-500, #B4252D);
$color_cgreen: var(--foundation-green-green-200, #96C3B5);
$color_cpink:  var(--foundation-primary-red-200, #DD9B9E);
$color_cyellow : var(--foundation-secondary-yellow-300, #E8BD66);
$color_corange: var(--foundation-orange-orange-300, #F5936F);






